<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/logo.png" type="image/png">
    <title>Colectivo PAD de la UMA</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
  <header>
    <img src="img/logo_sinfondo.png" alt="Logo del sitio" class="logo">
    <h1>Colectivo de Profesorado Ayudante Doctor<br>en Defensa de la UMA</h1>
  </header>

  <nav>
    <a href="#quienes-somos">¿Quiénes somos?</a>
    <a href="#actividades">Actividades</a>
    <a href="#documentos">Documentos</a>
    <a href="#prensa">Notas de prensa</a>
    <a href="#contacto">Contacto</a>
  </nav>

    <main>
        {{ content }}
    </main>

    <footer>
        &copy; 2025 Colectivo PAD de la UMA. Todos los derechos reservados.
    </footer>
</body>
</html>
